@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
      &:nth-child(2)
        margin-top: 18px

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
      max-width: 340px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &-right
      margin-top: 30px
      flex-direction: row
      justify-content: space-between
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
      margin-top: 38px
  .card
    width: 340px
    height: 255px
    margin-top: 20px
  .package
    &__item
      height: 470px
    &__wrapper
      padding: 5px 20px
    &__image
      height: 50%
    &__details
      margin-top: 5px
    &__order
      flex-direction: column
      align-items: flex-end
      margin-top: 12px
    &__old-price
      align-self: end
    &__button
      font-size: 12px
      padding-top: 6px
      padding-bottom: 6px
      margin-top: 6px
    &__description
      font-size: 12px
    &-big
      &__image
        width: 50%
        height: 100%
      &__wrapper
        justify-content: flex-start
        margin-top: 20px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%
      &:nth-child(2)
        margin: 0
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 6
      &-form
        grid-row: 4
        grid-column: span 5
    &__rules-links
      position: absolute
      left: 0
      bottom: 0
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      border: none
      background-color: transparent
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-right
      flex-direction: column
      margin-top: 20px
    &-info
      &__name
        margin-top: 10px
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &-slider
        height: 350px
  .stars
    flex-basis: content
  .booking
    width: 100%
  .map
    width: 100%
    margin-top: 20px
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
    &__subscribe
      margin-top: 37px
  .reviews
    &-slider
      &__item
        padding: 0 30px 36px
        max-width: 580px
        margin-top: 95px
        &::after, &::before
          display: none
      &__button
        top: 80px
        &-prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -80px
        &-next
          right: 50%
          transform: translateX(50%)
          margin-right: -80px
  .card
    width: 49%
    height: 255px
    margin-top: 10px
  .packages
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
  .package
    &__item
      max-height: 400px
    &__wrapper
      padding-bottom: 20px
    &__order
      flex-direction: row
      margin-top: 20px
    &__old-price
      align-self: flex-start
    &__new-price
      font-size: 20px
    &-big
      &__wrapper
        justify-content: space-between
  .footer
    &__input
      flex-basis: 100%
      &:nth-child(2)
        margin-top: 18px
@media (max-width: 576px)
  .logo
    width: 100px
  .slider
    height: 250px
  .newsletter
    padding: 76px 0 83px 0
  .subscribe
    width: 100%
  .card
    width: 100%
    margin-top: 20px
  .packages
    &-wrapper
      display: flex
      flex-direction: column
  .package
    &__item
      max-width: 100%
    &__description
      display: none
    &-big
      flex-direction: column
      max-height: 450px
      &__image
        height: 50%
        width: 100%
  .reviews
    padding-bottom: 50px
  .activities
    padding: 40px 0 60px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        align-items: flex-start
      &-links
        margin: 22px 0 0
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      order: 1
      margin-top: 15px
      width: 50%
      &-wrapper
        flex-direction: column
    &__info
      margin-top: 15px
    &__rules
      margin-top: 30px
      &-links
        position: static
        text-align: start
      &-link
        &:first-child
          margin-left: 0
    &__payment
      position: static
      margin-top: 10px

