.reviews
  padding: 40px 0 70px
  &__title
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 160% 
    /* or 19px */
    text-align: justify
  &-slider
    &__item
      background-color: $light
      